
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/CodeAtWork/CodeAtWorkLayout.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body onload="populateDropDownText()">
    <div class="navbar">
        <div id="navbarButtons">
            <img src="~/Design/AppLogo.png" id="appLogo" class="vertical-center" />
            <div id="navbarLinks" style="font-family: Comfortaa;">
                <a href="/CodeAtWork/Home" class="center">Home</a>
                <div class="dropdown centerDropDown">
                    <button class="dropbtn" onclick="OpenDropMenu('CoursesList')">
                        Courses
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content" id="CoursesList">
                        <div class="leftDropdownPane">
                            <a style="margin-top: 2rem;" class="activeDropDown" onclick="ChangeDropDownText(this, 'CSharpText')">C#</a>
                            <a onclick="ChangeDropDownText(this, 'JSText')">JavaScript</a>
                            <a onclick="ChangeDropDownText(this, 'SQLText')">SQL</a>
                            <a onclick="ChangeDropDownText(this, 'PythonText')">Python</a>
                            <a onclick="ChangeDropDownText(this, 'TSText')">TypeScript</a>
                            <a onclick="ChangeDropDownText(this, 'GitHubText')">GitHub</a>
                        </div>
                        <div class="rightDropdownPane" id="dropDownText">
                            <div id="CSharpText">
                                <h1>C#<img class='CSharpUnderLine' src='/Design/Home/line-long-skills.png' /></h1>
                                <p>Checkout Our Courses On C# </p>

                                <div class="CoursesListPerTopic">
                                    <div>
                                        <ul class="AllCoursesListInDropdown">
                                            <li>Working With Generics</li>
                                            <li>Datatypes Conversion</li>
                                            <li>Collections in C#</li>
                                            <li>Events</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="AllCoursesListInDropdown">
                                            <li>LINQ With C#</li>
                                            <li>Reflection</li>
                                            <li>Delegates</li>
                                            <li>Predicates And Func</li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="float:right">
                                    <p class="SeeMoreTxt">See More .. </p>
                                </div>
                            </div>

                            <div id="JSText" style="display:none">
                                <h1>JavaScript<img class='JSUnderLine' src='/Design/Home/line-long-skills.png' /></h1>
                                <p>Checkout Our Courses On JavaScript </p>

                                <div class="CoursesListPerTopic">
                                    <div>
                                        <ul class="AllCoursesListInDropdown">
                                            <li>JavaScript Language Basic</li>
                                            <li>Dom Manipulations</li>
                                            <li>Promises</li>
                                            <li>Events</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="AllCoursesListInDropdown">
                                            <li>AJAX</li>
                                            <li>Object And Functions</li>
                                            <li>Design Patterns</li>
                                            <li>Collections</li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="float:right">
                                    <p class="SeeMoreTxt">See More .. </p>
                                </div>
                            </div>

                            <div id="SQLText" style="display:none">
                                <h1>SQL<img class='SQLUnderLine' src='/Design/Home/line-long-skills.png' /></h1>
                                <p>Checkout Our Courses On SQL </p>

                                <div class="CoursesListPerTopic">
                                    <div>
                                        <ul class="AllCoursesListInDropdown">
                                            <li>Joins</li>
                                            <li>Indexing</li>
                                            <li>Stored Procedures</li>
                                            <li>Case</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="AllCoursesListInDropdown">
                                            <li>Unions Clause</li>
                                            <li>Constraints</li>
                                            <li>Data Manipulations</li>
                                            <li>Injection</li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="float:right">
                                    <p class="SeeMoreTxt">See More .. </p>
                                </div>
                            </div>

                            <div id="PythonText" style="display:none">
                                <h1>Python<img class='PythonUnderLine' src='/Design/Home/line-long-skills.png' /></h1>
                                <p>Checkout Our Courses On SQL </p>

                                <div class="CoursesListPerTopic">
                                    <div>
                                        <ul class="AllCoursesListInDropdown">
                                            <li>Classes And Objects</li>
                                            <li>Database Access</li>
                                            <li>Networking</li>
                                            <li>Functions</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="AllCoursesListInDropdown">
                                            <li>MultiThreading</li>
                                            <li>Collections</li>
                                            <li>Data Manipulations</li>
                                            <li>Files I/O</li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="float:right">
                                    <p class="SeeMoreTxt">See More .. </p>
                                </div>
                            </div>
                            <div id="TSText" style="display:none">
                                <h1>TypeScript<img class='JSUnderLine' src='/Design/Home/line-long-skills.png' /></h1>
                                <p>Checkout Our Courses On SQL </p>

                                <div class="CoursesListPerTopic">
                                    <div>
                                        <ul class="AllCoursesListInDropdown">
                                            <li>JavaScript Language Basic</li>
                                            <li>Dom Manipulations</li>
                                            <li>Promises</li>
                                            <li>Events</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="AllCoursesListInDropdown">
                                            <li>AJAX</li>
                                            <li>Object And Functions</li>
                                            <li>Design Patterns</li>
                                            <li>Collections</li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="float:right">
                                    <p class="SeeMoreTxt">See More .. </p>
                                </div>
                            </div>
                            <div id="GitHubText" style="display:none">
                                <h1>GitHub<img class='GitHubUnderLine' src='/Design/Home/line-long-skills.png' /></h1>
                                <p>Checkout Our Courses On SQL </p>

                                <div class="CoursesListPerTopic">
                                    <div>
                                        <ul class="AllCoursesListInDropdown">
                                            <li>Introduction</li>
                                            <li>Branches</li>
                                            <li>Commit</li>
                                            <li>Pull Requests</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="AllCoursesListInDropdown">
                                            <li>Forking</li>
                                            <li>GitHub With VS</li>
                                            <li>Push</li>
                                            <li>Pull And Fetch</li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="float:right">
                                    <p class="SeeMoreTxt">See More .. </p>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="dropdown centerDropDown">
                    <button class="dropbtn" onclick="OpenDropMenu('PathsList')">
                        Paths
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content" id="PathsList">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <a style="float: right;" href="/CodeAtWork/Login" class="center">Sign In</a>
            </div>
        </div>
    </div>

    <div class="main">
        @RenderBody()
    </div>
</body>
</html>
<script>
    var visibleTopicTextId = 'CSharpText';
 
    function ChangeDropDownText(elem, currentId) {

        var activeElems = document.getElementsByClassName("activeDropDown")[0];
        $(activeElems).removeClass("activeDropDown");

        $(elem).addClass("activeDropDown");
        var ExistingTextElem = document.getElementById(visibleTopicTextId);
        var textElem = document.getElementById(currentId);

        $(ExistingTextElem).hide();
        $(textElem).show();
        visibleTopicTextId = currentId;
    }

    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function OpenDropMenu(elemId) {
        document.getElementById(elemId).classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
        if (!e.target.matches('.dropbtn')) {
            var myDropdown = document.getElementById("CoursesList");
            if (!e.path.includes(myDropdown)) {
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
            }
            var myDropdown = document.getElementById("PathsList");
            if (myDropdown.classList.contains('show')) {
                myDropdown.classList.remove('show');
            }
        }
    }
</script>