#HomeMain {
    margin-right: 5%;
    margin-left: 5%;
    width: auto;
    height: 100%;
}

#HomeProgress {
    box-shadow: 0 20px 25px -2px rgba(0,0,0,.4);
    background: #222;
    margin-right: 5%;
    margin-left: 5%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #HomeProgress > div {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
    }

.homeDot {
    height: 100%;
    width: 8vh;
    line-height: 8vh;
    font-size: 6vh;
    margin-left: 2%;
}

#HelloHome {
    font-size: xx-large;
    margin-left: 2%;
    font-weight: 600;
    margin-top: -2%;
}

#HomeVids {
    width: 100%;
    height: 100%;
}

.vidScreenshotWrapper {
    width: 80%;
    margin-left: 8%;
}

.HomeScreenshots {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-column-gap: 1%;
}

    .HomeScreenshots > div {
        max-height: 20vh;
        overflow: hidden;
    }

.SearchScreenshots {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-column-gap: 1%;
    margin-left: 7%;
    margin-top: 2%;
}

        .SearchScreenshots > div {
            max-height: 20vh;
            overflow: hidden;
        }

.vidScreenshotHeader {
    padding-top: 2%;
    font-size: 23px;
}

.innerScreenshot {
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
}

.vidGrid {
    width: 100%;
    height: 100%;
    height: 13vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
    background-size: 100% 100%;
}

    .vidGrid:hover > .innerScreenshot {
        transition: background-color .3s ease-in-out, opacity .1s ease-in-out;
    }

    .vidGrid:hover > .innerScreenshot {
        background-color: rgba(192,192,192,0.3);
        opacity: 1;
    }

.fa-play-circle {
    color: lightgrey;
    cursor: pointer;
    margin-top: 10%;
}

    .fa-play-circle:hover {
        color: ghostwhite;
    }

.fa-bookmark {
    cursor: pointer;
}

.fa-bookmark:hover {
    color: ghostwhite;
}

.fa-caret-right:hover {
    color: ghostwhite;
}

.vidDesc {
    font-size: 20px;
    padding: 0px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .vidDesc:hover{
        cursor:pointer;
        text-decoration:underline;
    }

    .vidBy {
        padding: 0;
        margin: 0;
        color: darkgrey;
    }

.optSvg {
    position: absolute;
    margin-left: 5.5vw;
    width: 1.5%;
    margin-top: 1vh;
    cursor: pointer;
    color: darkgrey;
}
    .optSvg:hover {
        color: ghostwhite;
    }

.bookmarkingSvg {
    position: absolute;
    margin-left: 7vw;
    width: 2%;
}

.bookmarkingSvg:hover{
    cursor:pointer;
}

.bookmarkUnselected {
    color: darkgrey;
}

    .bookmarkUnselected:hover {
        color: ghostwhite;
    }

.bookmarkSelected {
    color: #0084bd;
}

.HomeMainOverlap{
    opacity:0.1;
    pointer-events: none;
}

/*#SearchResult {
    width: 70%;
    height: 50vh;
    position: absolute;
    top: 50px;
    margin-left: 15%;
    background-color: #363636;
    overflow-y: scroll;
    overflow-x: hidden;
    display:none;
}

    #SearchResult > .SearchScreenshots {
        grid-column-gap: 3%;
        margin-left: 7%;
        margin-top: 2%;
        grid-row-gap: 2%;
    }*/

.optMenu {
    background-color: whitesmoke;
    width: 9vw;
    height: 9vw;
    position: absolute;
    margin-left: 3%;
    margin-top: 1.5%;
    border-radius: 5%;
    border: 3px solid black;
    display:none;
}

.optMenuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
    font-size: medium;
    text-align: left;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

    .optMenuList > li {
        cursor: pointer;
        border-bottom: 1px solid grey;
        padding-left: 5%;
        padding-bottom: 2%;
        padding-top: 4%;
    }
    .optMenuList > li:hover {
        background-color: darkgrey;
    }

.optMenuListRight {
    float: right;
    font-size: larger;
    color: black;
    margin: 0;
}


.optMenuChannel {
    width: 14vw;
    min-height: 9vw;
    background-color: white;
    position: absolute;
    margin-left: 12%;
    margin-top: 5.5%;
    border-radius: 2%;
    display: none;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index:1;
}

.ChannelAddBar {
    box-sizing: border-box;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 75%;
    background: #f1f1f1;
    margin-left: 2%;
    margin-top: 5%;
}

.ChannelAddBtn {
    float: left;
    width: 20%;
    padding: 10px;
    background: grey;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-top: 5%;
    pointer-events:none;
}


input:focus {
    outline: none;
}

.optMenuChannelDiv1 {
    height: 4vw;
    border-bottom: 1px solid black;
}

.channelUnselected {
    color: grey;
    cursor:pointer;
}

.channelSelected {
    color: limegreen;
    cursor: pointer;
}

.ChannelList > li {
    cursor: auto;
}