
@{
    Layout = "~/Views/Shared/CodeAtWorkAdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        Pages
    </div>

    <ul>
        <li>Admin Accounts Management</li>
        <li>Users Management</li>
        <li>Videos Management</li>
        </ul>
</body>
</html>
