.navbar {
    box-shadow: none;
}

.main {
    margin-top: 4rem;
}

.AccountDropdown {
    margin-top: -1rem;
}

.formInputs {
    font-family: comfortaa;
}

#outputMsg {
    width: 98%;
    margin: auto;
    text-align: center;
    background: red;
    height: 3rem;
    border-radius: 8px;
    display:none;
}

#AccountHeaderDIV {
    height: 20rem;
    width: 100%;
    height: 11rem;
    background-color: rgb(53, 25, 115);
}

#NameText {
    font-family: comfortaa;
    font-size: 48px;
    font-weight: 100;
    padding-top: 1rem;
    padding-left: 2rem;
    margin-block-end: 0;
}

.NameSubText {
    font-family: comfortaa;
    padding-left: 2rem;
    color: darkgrey;
}

.dotSeperator {
    vertical-align: middle;
    font-size: 1%;
    color: darkgrey;
}

#firstHeaderDIV {
    height: 100%;
    width: 80%;
    border-right: 10px solid #0d0f12;
    float: left;
}

.HeaderNum {
    color: darkgrey;
    font-size: 2rem;
    padding-left: 2rem;
}

.headerLinks {
    cursor: pointer;
}


#TabSelection {
    width: 100%;
    display: grid;
    grid-template-columns: 11% 11% 11% auto;
    grid-column-gap: 1%;
    border-bottom: 1px solid grey;
    margin-top: 3rem;
    font-family: Comfortaa;
}

    #TabSelection > div {
        text-align: center;
        padding-bottom: 2.5%;
        cursor: pointer;
    }

.selectedChannelSection {
    border-bottom: thick solid #0084bd;
}

#tabContent {
    margin-left: 1rem;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
    padding-top: 2rem;
    margin-right: 1rem;
}

#demoGraphicsInputs {
    margin-left: 2rem;
}

#updatePWDInputs {
    margin-left: 2rem;
}

.UpdateInputs {
    margin-left: 2rem;
}

    .UpdateInputs input {
        font: inherit;
        font-size: 14px;
        background-color: #ffffff;
        border-style: none;
        border-radius: 3px;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.95);
        margin-top: 6px;
        display: block;
        padding: 0 5px;
        width: 45%;
        height: 30px;
        font-family: 'Comfortaa'
    }

.inputStyle {
    font-size: 14px;
    background-color: #ffffff;
    border-style: none;
    border-radius: 3px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.95);
    margin-top: 6px;
    display: block;
    padding: 0 5px;
    width: 90%;
    height: 30px;
    font-family:comfortaa;
}

.inputHeader {
    font-family: Comfortaa;
    color: grey;
    margin-block-end: 0.5em;
}


.blueBtn {
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    /* font-size: 16px; */
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #0084bd;
    /* box-shadow: 0 0 4px #999; */
    outline: none;
    font-family:comfortaa;
}


#UpdateCheckbox {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1%;
    width: 50%;
    font-family: 'Comfortaa';
}

.UpdateForm {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 1%;
    width: 100%;
    font-family: 'Comfortaa';
}

.checkboxes label {
    display: block;
    padding-right: 10px;
    padding-left: 22px;
    text-indent: -22px;
}

.checkboxes input {
    vertical-align: middle;
}

.checkboxes label span {
    vertical-align: middle;
}