
@{
    Layout = "~/Views/Shared/CodeAtWorkLayout.cshtml";
}

<link href="~/Content/CodeAtWork/Home.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Alatsi' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
<script src="~/Scripts/a076d05399.js"></script>


<div class="wrapper">

    <div style="font-family: Aldrich">
        <div class="innerDivWritting">
            <h1 style="margin-top: 10%;">
                UPSKILL YOUR TECH SKILL FROM
                <a> <img src="~/Design/Home/line-long-skills.png" class="underliningText" />ANYWHERE</a> <a style="color: deeppink">!</a>
            </h1>
            <p style="font-family: Comfortaa; text-align: justify; margin-top: 6%;">Technologists need the latest skills to do their jobs effectively. And technology leaders need visibility into how their teams work to put the right people on the right projects. We provide you both the skills and data you need to succeed. And with Machine Learning infused, You always know which Path to take.</p>
        </div>
        <img src="~/Design/Home/image-res.img.8880e86d-10e5-4b1f-b6fb-232df114d17f.png" id="imgWorking" />
    </div>
    <div>
        <div class="HomePathsDiv">
            <div class="cardGrid">
                <div class="animateDivOverImage">
                    <div class="cardText">
                        <div>
                            <p style="color:deeppink">Path</p>
                            <p>C#</p>
                            <p style="margin-top: -5%;">11 <a style="color: #68217a">Courses</a></p>
                        </div>
                    </div>
                    <div style="float:right; width: 20%; height: 100%;">
                        <i style="font-size: 18vh; margin-left: -9.5vh;" class="devicon-csharp-plain colored"></i>
                    </div>
                </div>

                <div class="animateDivOverImage">
                    <div class="cardText">
                        <div>
                            <p style="color:deeppink">Path</p>
                            <p>JavaScript</p>
                            <p style="margin-top: -5%;">11 <a style="color: yellow">Courses</a></p>

                        </div>
                    </div>
                    <div style="float:right; width: 20%; height: 100%;">
                        <i style="font-size: 18.2vh; margin-left: -11vh;" class="devicon-javascript-plain colored"></i>
                    </div>
                </div>

                <div class="animateDivOverImage">
                    <div class="cardText">
                        <div>
                            <p style="color:deeppink">Path</p>
                            <p>Github</p>
                            <p style="margin-top: -5%;">11 <a style="color: ghostwhite">Courses</a></p>
                        </div>
                    </div>
                    <div style="float:right; width: 20%; height: 100%;">
                        <i style="font-size: 18vh; margin-left: -11vh; color: ghostwhite" class="devicon-github-plain-wordmark colored"></i>
                    </div>
                </div>

                <div class="animateDivOverImage">
                    <div class="cardText">
                        <div>
                            <p style="color:deeppink">Path</p>
                            <p>TypeScript</p>
                            <p style="margin-top: -5%;">11 <a style="color: dodgerblue">Courses</a></p>
                        </div>
                    </div>
                    <div style="float:right; width: 20%; height: 100%;">
                        <i style="font-size: 18.2vh; margin-left: -11vh;" class="devicon-typescript-plain colored icoImg"></i>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:50%; float:right;">
            <img src="~/Design/Home/line-long-skills.png" class="lineStrikeCard" style="transform: rotate(90deg);" />
            <div class="PopularTechText">
                <h2 style="color:deeppink">
                    TRENDING TECHNOLOGIES
                </h2>
                <p>Not sure what technologies to focus on? The Technology Index ranks 850+ technologies by their relative popularity. See what’s topping the charts and get recommended courses to skill up. </p>
                <br />
                <br />

                <div style="float:left;">
                    <p style="color:ghostwhite">
                        FOLLOW A  <a style="color:deeppink">COURSE</a> <img src="~/Design/Home/line-yellow.png" style="width: 3.5%; position: absolute; margin-top: 1.3%; margin-left: -3.5vw;" />
                    </p>
                    <p>Know Exactly What You're Looking For? </p>
                    <p>Check Out Our <a class="checkoutOur">Courses <i class="fas fa-forward"></i></a></p>
                </div>

                <div style="float:right">
                    <p style="color:ghostwhite">
                        FOLLOW A <a style="color:deeppink">PATH</a>
                        <img src="~/Design/Home/line-yellow.png" style=" width: 3%; position: absolute; margin-top: 1.4%; margin-left: -2.5vw;" />
                    </p>
                    <p>Need To Start From Scratch? </p>
                    <p>Check Out Our <a class="checkoutOur">Paths <i class="fas fa-forward"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</div>