
@{
    Layout = "~/Views/Shared/CodeAtWorkLayout.cshtml";
}

<link href="~/Content/CodeAtWork/Home.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Alatsi' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">


<div class="wrapper">

    <div style="font-family: Aldrich">
        <div class="innerDivWritting">
            <h1 style="margin-top: 10%;">
                UPSKILL YOUR TECH SKILL FROM
                <a> <img src="~/Design/Home/line-long-skills.png" class="underliningText" />ANYWHERE</a> <a style="color: deeppink">!</a>
            </h1>
            <p style="font-family: Comfortaa; text-align: justify; margin-top: 6%;">Technologists need the latest skills to do their jobs effectively. And technology leaders need visibility into how their teams work to put the right people on the right projects. We provide you both the skills and data you need to succeed. And with Machine Learning infused, You always know which Path to take.</p>
        </div>
        <img src="~/Design/Home/image-res.img.8880e86d-10e5-4b1f-b6fb-232df114d17f.png" id="imgWorking" />
    </div>
    <div>
        <div class="HomePathsDiv">
            <div>
                <div class="animateDivOverImage">
                    View Paths
                </div>
                <div style="float:right; width: 20%; height: 100%;">
                    <i style="font-size: 21vh; margin-left: -11vh;" class="devicon-csharp-plain colored"></i>
                </div>
            </div>

            <div>
                <div class="animateDivOverImage">
                    View Paths
                </div>
                <div style="float:right; width: 20%; height: 100%;">
                    <i style="font-size: 22.5vh; margin-left: -12vh;" class="devicon-javascript-plain colored"></i>
                </div>
            </div>
            <div>
                <div class="animateDivOverImage">
                    View Paths
                </div>
                <div style="float:right; width: 20%; height: 100%;">
                    <i style="font-size: 21.5vh; margin-left: -13vh; color: deeppink" class="devicon-github-plain-wordmark colored"></i>
                </div>
            </div>

            <div>
                <div class="animateDivOverImage">
                    View Paths
                </div>
                <div style="float:right; width: 20%; height: 100%;">
                    <i style="font-size: 22.5vh; margin-left: -12vh;" class="devicon-typescript-plain colored"></i>
                </div>
            </div>


        </div>
    </div>
</div>