
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="~/Content/CodeAtWork/Register.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link href="~/Content/w3.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/a076d05399.js"></script>

</head>
<body onload="showRegisterInvalidCred()">
    <div id="invalidRegisterCreds" class="showInvalidRegisterCreds">
        <p id="invalidReason"></p>
    </div>
    <div class="TitleHeader">
        <h1 style="font-family: Comfortaa;">
            UPGRADE YOUR <a style="padding-left: 1rem;color:deeppink"> SKILLS</a>
            <img class="circleHeader" src="~/Design/Home/circle-green.png" />
        </h1>
    </div>
    <div style="margin-left: 5%;">
        <div id="SideRegisterNav">
            <div>
                <a onclick="changeSideSelection(this, 1)" class="SideNavLinks selectedSideNavLink" id="LinkForTab_1">Personal Info <i class="fas fa-caret-right"></i> </a>
                <a onclick="changeSideSelection(this, 2)" class="SideNavLinks" id="LinkForTab_2">Demographic Info <i class="fas fa-caret-right"></i> </a>
                <a onclick="changeSideSelection(this, 3)" class="SideNavLinks" id="LinkForTab_3">Account Info <i class="fas fa-caret-right"></i> </a>
            </div>
        </div>
        <div id="RegisterPane" style="font-family: Comfortaa;">

            <h2 style="padding-left: 1%; font-family: comfortaa; padding-top: 2%; padding-bottom: 3%;">
                Registration
                <img src="~/Design/Home/line-yellow.png" style="position: absolute;width: 14rem;margin-left: -12.5rem;margin-top: 2.5rem;" />
            </h2>

            <div id="RegisterForm">
                <div id="Tab1">
                    <div>
                        <form class="w3-container">
                            <input class="w3-input" type="text" placeholder="First Name" id="FirstName">
                        </form>
                    </div>
                    <div>
                        <form class="w3-container">
                            <input class="w3-input" type="text" placeholder="Last Name" id="LastName">
                        </form>
                    </div>
                    <div>
                        <form class="w3-container">
                            <input class="w3-input" type="text" placeholder="Email" id="Email">
                        </form>
                    </div>

                    <div>
                    </div>
                </div>

                <div id="Tab2" style="display:none">
                    <h4 style="font-family: 'Comfortaa';font-weight: 100;"> I Am a ...</h4>
                    <div id="UpdateCheckbox">
                        <div>
                            <input class="TitleCheckbox" onchange="TitleCheck(this)" type="checkbox" id="Title_1" checked>
                            <label for="Title_1">Developer</label>
                        </div>
                        <div>
                            <input class="TitleCheckbox" onchange="TitleCheck(this)" type="checkbox" id="Title_2">
                            <label for="Title_2">IT Professional</label>
                        </div>
                        <div>
                            <input class="TitleCheckbox" onchange="TitleCheck(this)" type="checkbox" id="Title_3">
                            <label for="Title_3">Tester</label>
                        </div>
                        <div>
                            <input class="TitleCheckbox" onchange="TitleCheck(this)" type="checkbox" id="Title_4">
                            <label for="Title_4">Other</label>
                        </div>
                    </div>
                    <div id="Tab2Inps">
                        <div>
                            <form class="w3-container Tab2InputStyle">
                                <input class="w3-input" type="text" placeholder="Company" id="Company">
                            </form>
                        </div>
                        <div>
                            <form class="w3-container Tab2InputStyle">
                                <input class="w3-input" type="number" min="0" placeholder="Years Of Experience" id="XP">
                            </form>
                        </div>
                        <div>
                            <h3 class="inputHeader">Role</h3>
                            <select class="inputStyle" id="Role">
                                <option value="">Select</option>
                                <option id="Role_1">Back-end Web Dev</option>
                                <option id="Role_2">Data-Focused Dev</option>
                                <option id="Role_3">Desktop Dev</option>
                                <option id="Role_4">Embedded App Dev</option>
                                <option id="Role_5">Entry Level Services Dev</option>
                                <option id="Role_6">Front-end Dev</option>
                                <option id="Role_7">Full-stack Game Dev</option>
                                <option id="Role_8">Full-stack Web Dev</option>
                                <option id="Role_9">Game Dev</option>
                                <option id="Role_10">Manager / Director / Executive</option>
                                <option id="Role_11">Mobile Dev</option>
                                <option id="Role_12">Quality Assurance / Tester</option>
                                <option id="Role_13">Other</option>
                            </select>
                        </div>
                        <div>
                            <h3 class="inputHeader">Level With Organization</h3>
                            <select class="inputStyle" id="OrgLevel">
                                <option value="">Select</option>
                                <option id="Org_1">Individual Contributor</option>
                                <option id="Org_2">Manager / Team Lead</option>
                                <option id="Org_3">Director</option>
                                <option id="Org_4">Executive / CxO / VP</option>
                                <option id="Org_5">Owner</option>
                                <option id="Org_6">Freelancer / Consultant / Contractor</option>
                                <option id="Org_7">Other</option>
                            </select>
                        </div>

                        <div>
                        </div>
                    </div>
                </div>

                <div id="Tab3" style="display:none">
                    <div>
                        <form class="w3-container">
                            <input class="w3-input" type="text" placeholder="Username" id="Username">
                        </form>
                    </div>
                    <div></div>
                    <div>
                        <form class="w3-container">
                            <input class="w3-input" type="password" placeholder="Password" id="Password">
                        </form>
                    </div>
                    <div>
                        <form class="w3-container">
                            <input class="w3-input" type="password" placeholder="Confirm Password" id="ConfirmPassword">
                        </form>
                    </div>
                    <div>
                    </div>
                </div>
            </div>

            <div>
                <div class="w3-container" style="float: right;" id="Next">
                    <p><button type="submit" class="w3-button w3-round loginBtn" style="background-color: #0084bd" id="NextBtn" onclick="MoveTo('Next')">Next</button></p>
                    <p><button type="submit" class="w3-button w3-round loginBtn" style="background-color: #0084bd; display:none" id="DoneBtn" onclick="ValidateEntries()">Done</button></p>
                </div>
                <div class="w3-container" style="float: left; display:none;" id="Prev">
                    <p><button type="submit" class="w3-button w3-round loginBtn" style="background-color: #0084bd" onclick="MoveTo('Prev')">Previous</button></p>
                </div>
            </div>



        </div>
    </div>
</body>
</html>

<script>

    function TitleCheck(elem) {
        var cheks = document.getElementsByClassName("TitleCheckbox");
        var oneChecked = false;
        for (var i = 0; i < cheks.length; i++) {
            if (cheks[i] != elem) {
                cheks[i].checked = false;
            }
        }

        for (var i = 0; i < cheks.length; i++) {
            if (cheks[i].checked) {
                oneChecked = true;
                break;
            }
        }

        if (!oneChecked)
            document.getElementById("Title_4").checked = true;

    }


    function MoveTo(direction) {
        if (direction == 'Next') {
            var selectedId = parseInt($(".selectedSideNavLink")[0].id.split("_")[1]) + 1;
            changeSideSelection($("#LinkForTab_" + selectedId)[0], selectedId)
        }
        else {
            var selectedId = parseInt($(".selectedSideNavLink")[0].id.split("_")[1]) - 1;
            changeSideSelection($("#LinkForTab_" + selectedId)[0], selectedId)
        }
    }

    function changeSideSelection(elem, sideId) {
        $(".selectedSideNavLink").removeClass("selectedSideNavLink");
        $(elem).addClass("selectedSideNavLink");

        $("#Tab1").css("display", "none");
        $("#Tab2").css("display", "none");
        $("#Tab3").css("display", "none");

        if (sideId == 2) {
            $("#Tab" + sideId).css("display", "block");
        }
        else {
            $("#Tab" + sideId).css("display", "grid");
        }

        if (sideId == 1) {
            $("#Prev").css("display", "none");
            $("#NextBtn").css("display", "block");
            $("#DoneBtn").css("display", "none");  
        }
        else {
            $("#Prev").css("display", "block");
            if (sideId == 3) {
                $("#NextBtn").css("display", "none");
                $("#DoneBtn").css("display", "block");
            }
            else {
                $("#NextBtn").css("display", "block");
                $("#DoneBtn").css("display", "none");
            }
        }
    }

    function ValidateEntries() {
        $("#invalidRegisterCreds").slideUp("fast");
        var firstName = document.getElementById("FirstName").value;
        var lastName = document.getElementById("LastName").value;
        var email = document.getElementById("Email").value;
        var username = document.getElementById("Username").value;
        var password = document.getElementById("Password").value;
        var confirmPassword = document.getElementById("ConfirmPassword").value;

        var company = $("#Company").val();
        var xp = $("#XP").val();
        var selectedRole = $('#Role :selected')[0].id.split("_")[1];
        var selectedOrgLevel = $('#OrgLevel :selected')[0].id.split("_")[1];

        var selectedTitle;

        var cheks = document.getElementsByClassName("TitleCheckbox");
        for (var i = 0; i < cheks.length; i++) {
            if (cheks[i].checked) {
                selectedTitle = cheks[i].id.split("_")[1];
                break;
            }
        }


        if (IsNullOrEmpty(firstName) || IsNullOrEmpty(lastName) || IsNullOrEmpty(email) || IsNullOrEmpty(username) || IsNullOrEmpty(password) || IsNullOrEmpty(confirmPassword)) {
            showInvalidBanner("Please Fill Out All The Fields.");
        }

        else if (password != confirmPassword) {
            showInvalidBanner("Passwords Don't Match.");
        }

        else {

            var objToSend = { FirstName: firstName, LastName: lastName, Email: email, Password: password, ConfirmPassword: confirmPassword, UserName: username, Company: company, YrsOfXP: xp, Title: selectedTitle, Role: selectedRole, OrgLevel: selectedOrgLevel }

            var ajaxPost = $.post('/CodeAtWork/SaveRegistration', { user: objToSend });
            Promise.all([ajaxPost]).then((result) => {
                if (result && result[0] && result[0].HasValidationFailed) {
                    showInvalidBanner(result[0].ValidationMsg)
                }
                else if (result && result[0] && !result[0].HasValidationFailed) {
                    var url = '@Url.Action("Interests", "CodeAtWorkApp")';
                    window.open(url, "_self");
                }
            });
        }
    }


    function showRegisterInvalidCred() {
        //var invalidLogin = 'True';

        //if (invalidLogin === 'True') {
        //    showInvalidBanner("");
        //}
    }

    function showInvalidBanner(msg) {
        document.getElementById("invalidReason").innerHTML = msg;

        $("#invalidRegisterCreds").slideDown(400);
    }


    function IsNullOrEmpty(value) {
        return !value || value.length == 0;
    }


</script>