
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/CodeAtWork/AppPlayer.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

</head>
<body>
    <div class="sidenav">
        <p class="MainName"> @ViewBag.VideoName</p>
        <p class="AuthorName"> By @ViewBag.By</p>

    </div>

    <div class="main">
        @ViewBag.VidFrame
    </div>
</body>
</html>

