@{
    Layout = "~/Views/Shared/CodeAtWorkAppLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Interests</title>
    <link href='https://fonts.googleapis.com/css?family=Antic Didone' rel='stylesheet'>
    <link href="~/Content/CodeAtWork/Interests.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/a076d05399.js"></script>
</head>
<body onload="initializePage()">

    <div class="wrapper">
        <h1 style="font-family: 'Antic Didone';"> What Do You Want To Learn?</h1>
        <p style="font-family: 'Antic Didone';"> Search for and select Interests below. We'll use them to make content recommendations.</p>

        <input type="text" name="search" placeholder="Search..." onkeyup="UpdateSearchCriteria(this)">
        <table id="topics">
            <tr>
                <td>
                    <i class="fas fa-laptop-code learnCode" onclick="toggleCategory('learnCode')"></i>
                </td>
                <td>
                    <i class="fas fa-chart-line learnData" onclick="toggleCategory('learnData')"></i>
                </td>
            </tr>
            <tr id="ToLearnLabels">
                <td class="Categorylabel learnCode selectedTopic" onclick="toggleCategory(this)">
                    Software Development
                </td>
                <td class="Categorylabel learnData" onclick="toggleCategory(this)">
                    Data
                </td>
            </tr>
        </table>

        <p>Most Popular Topics</p>
        <div class="ph3 mt4" id="TopicPills">
            <!-- Will be generated from db-->
        </div>
        <div style="padding-top: 1rem;">
            <button class="blueBtn" onclick="UpdateTopics()">Done</button>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/CodeAtWorkApp/Interests.js"></script>
<script>
   function initializePage() {
    document.getElementById("TopicPills").innerHTML = '@ViewBag.TopicPills';
    storedPillsPerCategory.push({ CategoryName: "Software Development", Pills: '@ViewBag.TopicPills' });
}
</script>
