
@{
    Layout = "~/Views/Shared/CodeAtWorkAppLayout.cshtml";
}
<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
<link href="~/Content/CodeAtWorkApp/Paths.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/CodeAtWorkApp/SharedAppJs.js"></script>
<div id="ChannelsOuterDiv">

    <h2 style="float:left; margin-top:2vh">Paths</h2>

    <div class="optMenuChannelDiv1" style="border-bottom:none">
        <input type="text" placeholder="Create New Channel" class="ChannelAddBar" id="ChannelAddBar">
        <button type="submit" class="ChannelAddBtn" id="ChannelAddBtn" onclick="AddNewChannel()"><i class="fas fa-plus"></i></button>
    </div>
    <div id="ChannelTable">
        <div class="selectedChannelSection" onclick="toggleSelectedDiv(this)">
            All
        </div>
        <div onclick="toggleSelectedDiv(this)">
            Following
        </div>
        <div>
        </div>
    </div>
    <div style="margin-top: 2rem;">
        <div class="sidenav">
            <a class="selectedTopic">All</a>
            <a class="childTopics">Software Development</a>
            <a class="childTopics">Data</a>
        </div>

        <div class="mainNextToSideBar">
            <div class="pathCard">
                <div class="outerImgDiv">
                    <img class="pathCardImg" src="~/Design/Topics/CSharp.png" />
                </div>
                <div class="outerTextDiv">
                    <h2> C# Fundamentals</h2>
                    <p> <a class="PathVidCount">14</a> Courses </p>
                </div>
                <div>
                    <svg class="pathOpt" role="img" viewBox="0 0 24 24">
                        <path fill="currentColor" fill-rule="evenodd" d="M6 14.5a2 2 0 110-4 2 2 0 010 4zm12 0a2 2 0 110-4 2 2 0 010 4zm-6 0a2 2 0 110-4 2 2 0 010 4z"></path>
                    </svg>
                </div>
            </div>
            <div class="pathCard">
            </div>
            <div class="pathCard">
            </div>
        </div>
    </div>

</div>
<script>

    function OpenChannelDetails(channelId) {
            var url = '@Url.Action("ChannelDetail", "CodeAtWorkApp", new { channelId = "__id" })';
        var New = url.replace("__id", channelId)
    window.open(New, "_self");
    }

    function AddNewChannel() {
        var elem = document.getElementById("ChannelAddBar");
        if (!IsNullOrEmpty(elem.value)) {
            var ajaxPost = $.post('/CodeAtWorkApp/AddAndLinkChannel', { channelName: elem.value});
            Promise.all([ajaxPost]).then((results) => {
                location.reload();
            });
        }
    }

    function softDeleteRow(elem, channelId) {
        var row = document.getElementById("channelRow_" + channelId);
        $(row).toggleClass("softDeleteRow");

        var softdeletedRows = document.getElementsByClassName("softDeleteRow");
        if (softdeletedRows.length > 0) {
            $("#deleteChannelBtn").css("pointer-events", "all");
            $("#deleteChannelBtn").css("background-color", "#0084bd");
        }
        else {
            $("#deleteChannelBtn").css("pointer-events", "none");
            $("#deleteChannelBtn").css("background-color", "grey");
        }
    }


    function deleteChannels() {
        var elems = document.getElementsByClassName("softDeleteRow");
        var channelIdsToDelete = [];
        for (var i = 0; i< elems.length; i++) {
            var channelId = parseInt(elems[i].id.split('_')[1]);
            channelIdsToDelete.push(channelId);
        }


        var ajaxPost = $.post('/CodeAtWorkApp/DeleteChannels', { channelIdsToDelete: channelIdsToDelete });
        Promise.all([ajaxPost]).then(() => {
            location.reload();
        });
    }

    function OpenPlayer(id) {
    var url = '@Url.Action("AppPlayer", "CodeAtWorkApp", new { playById = "__id" })';
    var New = url.replace("__id", id)
    window.open(New, "_blank");
    }

    function toggleSelectedDiv(elem) {
        var existingElem = document.getElementsByClassName("selectedChannelSection")[0];
        $(existingElem).removeClass("selectedChannelSection");
        $(elem).addClass("selectedChannelSection");
    }

</script>