
@{
    ViewBag.Title = "PathDetails";
    Layout = "~/Views/Shared/CodeAtWorkAppLayout.cshtml";
}
<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

<link href="~/Content/CodeAtWorkApp/PathDetails.css" rel="stylesheet" />

<div id="PathDetailsWrapper">
    <div id="HeaderPane">
        <div>
            <h1 style="float:left; padding-left: 1rem;">SQL Fundamentals</h1>
            <div style="float:right; padding-right: 2rem; padding-top: 1rem;">
                <button class="blueBtn"> Add To Channel</button>
            </div>
        </div>
        <div id="PathDescription">
            Microsoft SQL Server is a relational database management system.
            It's main purpose is to store and retrieve data as needed by other software applications.
            This skill will teach you how to design and implement databases for Microsoft SQL Server.
        </div>
    </div>

    <div>

    </div>
</div>
