
@{
    ViewBag.Title = "PathDetails";
    Layout = "~/Views/Shared/CodeAtWorkAppLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

<link href="~/Content/CodeAtWorkApp/PathDetails.css" rel="stylesheet" />
<script src="~/Scripts/a076d05399.js"></script>

<div id="PathDetailsWrapper">
    <div id="HeaderPane">
        <div>
            <h1 style="float:left; padding-left: 1rem;">SQL Fundamentals</h1>
            <div style="float:right; padding-right: 2rem; padding-top: 1rem;">
                <button class="blueBtn"> Add To Channel</button>
            </div>
        </div>
        <div id="PathDescription">
            Microsoft SQL Server is a relational database management system.
            It's main purpose is to store and retrieve data as needed by other software applications.
            This skill will teach you how to design and implement databases for Microsoft SQL Server.
        </div>
    </div>

    <div id="PathBody">
        <div id="PathToggleTable">
            <div class="selectedPathToggle" onclick="togglePathTab(this, 1)">
                About
            </div>
            <div onclick="togglePathTab(this, 2)">
                Content
            </div>
            <div>
            </div>
        </div>
        <div id="PathBodyContent">
            <div id="ActualPathBodyContent">
                <div>
                    <h2>Prerequisites</h2>
                    <ul class="PathListStyl">
                        <li>Relational database literacy</li>
                        <li>Querying Data from SQL Server with T-SQL</li>
                    </ul>
                </div>
                <div>
                    <h2>What You Will Learn</h2>
                    <ul class="PathListStyl">
                        <li>Designing and implementing tables, views, and other database objects</li>
                        <li>Implementing indexes</li>
                        <li>Concurrency management</li>
                        <li>Basic Optimization</li>
                        <li>Basic performance tuning and query analysis</li>
                    </ul>
                </div>
            </div>
           <!-- https://www.youtube.com/watch?v=MqGM70ljpq8&list=PLyJiOytEPs4eQUuzs3PhM_7yU63jdibtf -->
            <div id="AboutPathBodyContent">
                <div>
                    <button class="collapsible"><i class="fas fa-caret-down collapseTextIcon"></i>Getting Started</button>
                    <div class="content">
                        <div class="HomeScreenshots">
                            @ViewBag.ChannelVideos
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function togglePathTab(elem, tabId) {
        var aboutTab = document.getElementById("AboutPathBodyContent");
        var contentTab = document.getElementById("ActualPathBodyContent");

        var prevSelectedTab = document.getElementsByClassName("selectedPathToggle")[0];
        $(prevSelectedTab).removeClass("selectedPathToggle");
        $(elem).addClass("selectedPathToggle");
        if (tabId == 1) {
            $(contentTab).hide();
            $(aboutTab).show();
        }
        else {
            $(contentTab).show();
            $(aboutTab).hide();
        }
    }

    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
                var val = this.innerHTML.split("</i>")[1];
                this.innerHTML = '<i class="fas fa-caret-down collapseTextIcon"></i> ' + val;
            } else {
                var val = this.innerHTML.split("</i>")[1];
                this.innerHTML = '<i class="fas fa-caret-up collapseTextIcon"></i> ' + val;

                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }


</script>