
@{
    ViewBag.Title = "ViewMyAccount";
    Layout = "~/Views/Shared/CodeAtWorkAppLayout.cshtml";
}
<link href="~/Content/CodeAtWorkAccount/ViewMyAccount.css" rel="stylesheet" />
<div id="AccountPageWrapper">
    <div id="AccountHeaderDIV">
        <h1 id="NameText">Faraz Poomun</h1>
    </div>
</div>
